<%= form_for @item do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |o| %>
    <div class="checkbox" style="height: 10%; width: 33%; display: inline-block;">
      <%= o.label {o.check_box(type: 'checkbox') + o.text} %>
    </div>
  <% end %>

  <%= f.label :image %>
  <%= f.url_field :image %>

  <%= f.submit %>
<% end %>
