<%= form_for [:admin, @item], html: { multipart: true } do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |c| %>
    <div class="checkbox" style="height: 10%; width: 33%; display: inline-block;">
      <%= c.label {c.check_box(type: 'checkbox') + c.text} %>
    </div>
  <% end %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit %>
<% end %>
