<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="<%= edit_user_path(@user) %>" >Edit Profile</A>

        <A href="/logout" >Logout</A>
       <br>
<p class=" text-info"><%= Date.today %></p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><h1> Welcome to your scoot-mare, <%= @user.username %>   </h1></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4UHiFvVJalplJOBP4yYnZj2wXOEKkkNCZjC3hfMw3HVanKwMGGw" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%= @user.full_name if @user.full_name%></td>
                      </tr>
                      <tr>
                        <td>Date Joined:</td>
                        <td><%= @user.created_at %></td>
                      </tr>
                      <tr>
                        <td>Last Login</td>
                        <td><%= @user.updated_at %></td>
                      </tr>

                         <tr>
                        <tr>
                        <td>Home Address</td>
                        <td><%= @user.address if @user.address %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com"><%= @user.email %></a></td>
                      </tr>
                        <td>Recent Purchases:</td>
                        <td>
                          <%= link_to @user.orders[-2].created_at, order_path(@user.orders[-2]) %>
                          <br><br>
                          <%= link_to @user.orders.last.created_at, order_path(@user.orders.last) %>
                        </td>

                      </tr>

                    </tbody>
                  </table>

                  <%= link_to "All Orders", orders_path, class: "btn btn-primary" %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
