<h1>Cart</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="row cart-item">
      <div class="col-md-2">
        <img src="<%= item.image %>" class="img-thumbnail">
      </div>
      <div class="col-md-2">
        <p><%= item.title %></p>
      </div>
      <div class="col-md-2">
        <p><%= item.description %></p>
      </div>
      <div class="col-md-2">
        <p><%= item.price %></p>
      </div>
      <div class="col-md-2" id="item-<%= item.id %>-quantity">
        Quantity: <%= @cart.quantity(item.id) %>
        <%= link_to "", carts_path(item_to_increase: item.id), method: :patch, class: "glyphicon glyphicon-triangle-top", id: "increase-item-#{item.id}" %>
        <%= link_to "", carts_path(item_to_decrease: item.id), method: :patch, class: "glyphicon glyphicon-triangle-bottom", id: "decrease-item-#{item.id}" %>
      </div>
      <div class="col-md-2">
        <p><%= link_to 'Remove', carts_path(item_id: item.id), method: :delete, id: "remove-item-#{item.id}" %></p>
      </div>
    </div>
  <% end %>
  <p style="float: right;">Total Price: $<%= @cart.total_price %></p>
</div>
