<h1>Cart</h1>

<ul>
  <% @items.each do |item| %>
    <img src="<%= item.image %>" alt="">
    <li><%= item.title %></li>
    <li><%= item.description %></li>
    <li><%= item.price %></li>
    <li><%= link_to 'Remove', carts_path(item_id: item.id), method: :delete, id: "remove-item-#{item.id}" %></li>
  <% end %>
</ul>

<li>Total Price: <%= @cart.total_price %></li>
