<div class="row show-row">
  <ul>
    <% @items.each do |item| %>
    <% if current_admin %>
      <a href="<%= admin_item_path(item) %>", id="item-link-wrap">
    <% else %>
      <%= link_to "", item_path(item) %>
    <% end %>
      <li class="col-sm-3">
        <div class="fff ind-item-box">
        <div class="thumbnail">
          <a href="<%= item_path(item) %>", id="item-link-wrap">
            <img src="<%= item.image %>" alt="" class="scoots">
          </a>
        </div>
          <div class="caption">
            <h3><%= link_to item.title, item_path(item) %></h3>
            <p><%= item.price %></p>
            <p><%= item.description %></p>
            <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-primary", id: "item-#{item.id}" %>
            <% if current_admin %>
            <%= link_to "Edit", edit_admin_item_path(item) %>
            <% end %>
          </div>
        </div>
      </li>
        <% end %>
  </ul>
</div>
