<h1 class="ProductIndexHeader">All Products</h1>
<div class="row">
<% @items.each do |item| %>
  <div class="col-lg-3">
    <img src="<%= item.image %>" alt="">
    <li><%= item.title %></li>
    <%= item.description %>
    <%= item.price %><br /><br />
    <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-primary", id: "item-#{item.id}" %>
  </div>
<% end %>
</div>
