<div class="row text-center">
  <h1><%= @item.title %></h1>
  <%= image_tag(@item.image) %>
  <p><%= @item.description %></p>
  <p>Price: <%= @item.price %></p>
  <p>Status: <%= @item.role %></p>

  <% if @item.active?%>
    <%= button_to "Add to Cart", carts_path(item_id: @item.id), class: "btn btn-primary", id: "item-#{@item.id}" %>
  <% else %>
    <%= button_to 'Item Retired', '#', class: 'btn btn-primary', disabled: true %>
  <% end %>
</div>
