<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Boots & Scoots</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% categories.each do |category| %>
              <li><%= link_to "#{category.name}", "/#{category.name}"%></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/cart"><span class='glyphicon glyphicon-shopping-cart'></span> View Cart</a></li>
        <li class="dropdown account-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu acct-dropdown-menu">
            <% if current_user %>
              <% if current_admin %>
                <li><a href="<%=  admin_user_path(current_user.id)  %>">Admin Dashboard</a></li>
              <% end %>
            <li><a href="<%= dashboard_path(id: current_user.id) %>"> <%= "Logged in as #{current_user.username}" %> </a></li>
            <li> <%= link_to "Logout", login_path, method: :delete %></li>
          <% else %>
            <li><a href="/users/new">Signup</a></li>
            <li><a href="/login">Login</a></li>
          <% end  %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
